body {
    margin: 0px auto;
    width: 1000px;
}

#yaga_viewport {
    max-width: 900;
    margin: 0px auto;
}

form input,form textarea {
    width: 600px;
}

form #description {
    height: 150px;
}

.errors { color: darkred; }